$circle-border-radius:50%;
$base-border-color: #ddd;
$lightest-color:#fff;
$default-txt-color: #333;
$font-weight: normal;

$accordion-header-background-color: $lightest-color;
$accordion-header-color: $default-txt-color;

$social-facebook-btn-background: #167abc;
$social-twitter-btn-background: #03b4d5;
$social-google-plus-btn-background: #e44959;
$social-envelope-btn-background: #7754aa; 

//$button-toolbar-background-color: transparent;
//$button-toolbar-border-color: transparent;
$button-toolbar-hover-background-color: $lightest-color; //#efefef;

//Grid UI colors
//$grid-row-cell-selected-background-color: #FFEFBB;
//$grid-row-cell-selected-border-color: $grid-row-cell-border-color;


