@page { size: 8.5in 11in; margin: 0; }

@media print { 
  
  html, body { width: 8.75in; height: 11in; margin: 0; font-family: "Helvetica Neue", Arial, Helvetica, sans-serif; }

  .sheet { page-break-inside: avoid; page-break-before: always; }
  .pagebreak {
    page-break-inside: avoid; page-break-after: always;
  }
  
  /*
  .price-tag-view .x-item-over {
    -moz-border-radius:.7em;
    -webkit-border-radius:.7em;
    border-radius:.7em;

    border: 1px solid #6593cf;
    background: #E2EFF8;
  }
  
  .price-tag-view .x-item-selected {    
    -moz-border-radius:.7em;
    -webkit-border-radius:.7em;
    border-radius:.7em;

    border: 1px solid #6593cf;
    background: #FFEFBB;
  }
  */

  .price-tag-view .item-selector {      

    /*
    -moz-border-radius:.7em;
    -webkit-border-radius:.7em;
    border-radius:.7em;
    */

    background: #ffffff;
    /* border: 1px solid #1c1c1c;    */
    float: left;
    margin: 0 0.13in 0 0;
    width: 2.66in;
    height: 0.99in;
    padding: 7px 0 0 7px;    
    border-collapse: collapse;
    cursor: pointer;    
  }

  .price-tag-view .item-boxer {
    display: table;
    border-collapse: collapse;
  }
  
  .price-tag-view .item-boxer .box-row {
    display: table-row;
    border-collapse: collapse;
  }
  
  .price-tag-view .item-boxer .center {
    text-align: center;
  }
  
  .price-tag-view .item-boxer .right {
    text-align: right;
  }
  
  .price-tag-view .item-boxer .box {
    display: table-cell;        
    vertical-align: middle;
  }
  
  .price-tag-view .item-boxer .ab {
    /*border: 1px solid $base-border-color;*/
  }
  
  .price-tag-view .item-boxer .rb {
    /*border-right: 1px solid $base-border-color;*/
  }
  
  .price-tag-view .item-boxer .lb {
    /*border-left: 1px solid $base-border-color;*/
  }
  
  .price-tag-view .item-boxer .nb {    
    border: none;
  }

}