@page { 
    size: 8.5in 11in; margin-top: 20px; 
}

html body { width: 8.5in; height: 11in; margin:0; font-family: Arial sans-serif Helvetica Helvetica Neue; } 
table th td {
    border-collapse: collapse;
    border: 1px solid;
}

.sheet { page-break-inside: avoid; page-break-before: always; } 
.page-break { page-break-inside: avoid; page-break-before: auto; }                                       

//@media print { width: 8.5in; height: 11in; margin: 0; } 

@media print { 
    @page { size: portrait; margin-top: 20px; }                

    html body { width: 8.5in; height: 11in; margin:0; font-family: Arial sans-serif Helvetica Helvetica Neue; } 
   
    .sheet { page-break-inside: avoid; page-break-before: always; } 
    .page-break { page-break-inside: avoid; page-break-before: auto; }                                           
    .print-pt-view .item-selector {
        //-moz-border-radius:.7em;
        //-webkit-border-radius:.7em;
        //border-radius:.7em;
        background: #ffffff;
        //border: 1px solid #1c1c1c;
        float: left;
        margin: 0 0.12in 0 0;
        width: 2.63in;
        height: 0.95in;
        padding: 7px 0 0 7px; 
        border-collapse: collapse;
        cursor: pointer;
    }       
    .print-pt-view .item-boxer {
        display: table;
        border-collapse: collapse;
    } 
    .print-pt-view .item-boxer .box-row {
        display: table-row;
        border-collapse: collapse;
    } 
    .print-pt-view .item-boxer .center {
        text-align: center;
    }     
    .print-pt-view .item-boxer .right {
        text-align: right;
    }      
    .print-pt-view .item-boxer .box {
        display: table-cell;
        //padding: 0px 2px 0px 2px;
        vertical-align: middle;
    }                            
    .print-pt-view .item-boxer .ab {
        border: 1px solid black;
    }                   
    .print-pt-view .item-boxer .rb {
        border-right: 1px solid black;
    } 
    .print-pt-view .item-boxer .lb {
        border-left: 1px solid black;
    }                 
    .print-pt-view .item-boxer .nb {
        border: none;
    }
}  